
body {
    overflow-x: hidden;
    background: white;
}

h1 {
text-transform: uppercase;
color: black!important;
}

h5, h4{
    color: black!important;
}

p{
    color: black!important;
}

.btn-primary{
box-shadow: none;
padding: 8px 25px;
border: none;
border-radius: 20px;
background-image: linear-gradient(to right, #54ffac, #54a7ff);
color: black;
}

.title{
    color: black;
}

.title::after{
content: '';
background-color: #54ffac;
height: 5px;
width: 200px;
margin-left: auto;
margin-right: auto;
margin-bottom: 40px;
display: block;
transform: translateY(8px);
}

.modal-content{
background-color: #ff847ec7;
}

.modal-body li{
list-style: none;
color: white;
}

/*------ Feildsets ------*/
fieldset {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

fieldset label {
margin-bottom: 0rem;
}

fieldset input {
    padding: 5x;
}

input[type=submit] {
    margin: 1rem;
    align-self: flex-end;
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #54ffac, #54a7ff);
    color: black;
}

/*============= TOP BAR HEADER =============*/
.top-bar {
height: 2.8rem;
padding: 0.5rem 0;
}

.top-bar a {
color: white;
text-decoration: none;
font-size: 1.1rem;
}

/*============= NAVIGATION =============*/
.navbar {
font-size: 1rem;
font-weight: 600;
letter-spacing: 0.1rem;
padding: 0.5rem;
z-index: 1;
border: none;
background-image: linear-gradient(to right, #54a7ff, #5331ff);
}

.navbar-nav li a{
color: white!important;
font-weight: 600px;
float: right;
text-align: left;
}

.nav-item.active,
.nav-item:hover {
color: #54a7ff !important;
}

.navbar-toggler {
color: white!important;
}

/*===== MAIN CONTENT =====*/
/*------ Banner Section ------*/
.banner{
    background-image: linear-gradient(to right, #54a7ff, #5331ff);
    color: white;
    padding: 170px 0;
}

.banner h1{
    color: white;
    font-size: 3rem;
}

.banner h4{
    color: white;
}

.weather-form{
    padding: 2rem;
    background-color: white;
    color: black !important;
    border: none;
    border-radius: 20px;
}


.report{
    padding: 2rem;
    background-color: white;
    color: black !important;
    border: none;
    border-radius: 20px;
}


.mood-form{
    padding: 2rem;
    background-color: white;
    color: black !important;
    border: none;
    border-radius: 20px;
}

/*------ Auth Section ------*/
.sign-content{
    padding: 80px 0;
}

.log-content{
padding: 80px 0;
}


/*------ Profile Section ------*/
.profile{
color: black!important;
padding: 0 0 180px 0;
}

.profile h4{
color: black!important;
}

/*------ Songs_in_playlist Section ------*/
.songs_in_playlist{
color: black!important;
padding: 5rem;
}

.songs_in_playlist h4{
color: black!important;
}

/*------ Create_playlist Section ------*/
.create_playlist{
color: black!important;
padding: 5rem;
}

.create_playlist h4{
color: black!important;
}

/*------ Create_song Section ------*/
.create_song{
color: black!important;
padding: 5rem;
}

.create_song h4{
color: black!important;
}

/*------ Create_genre Section ------*/

.create_genre{
color: black!important;
padding: 5rem;
padding: 80px 0;
}

.create_genre h4{
color: black!important;
}

/*------ Create_genre Section ------*/

.create_artist{
color: black!important;
padding: 5rem;
padding: 80px 0;
}

.create_artist h4{
color: black!important;
}

/*============= FOOTER =============*/
footer{
    background-image: linear-gradient(to right, #54a7ff, #5331ff);
    color: white;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

footer h3{
    color: white;
    font-size: 15px;
    text-transform: uppercase;
}

footer p{
    padding: 0.5rem;
    text-transform: uppercase;
}

footer span{
    color:#54ffac;;
}
.github{
    color: white;
    text-decoration: none;
    padding: 1rem 1rem 0 1rem;
}

.github:hover{
    color: #54ffac;
}


/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {
    .waves {
    height: 100px;
    min-height: 100px;
    }
}
/* Devices under 992px (lg) */
@media (max-width: 991.98px) {
    .waves {
    height:40px;
    min-height:40px;
    }
}

/*============ BOOTSTRAP BREAK POINTS:
    
    Extra small (xs) devices (portrait phones, less than 576px)
    No media query since this is the default in Bootstrap
    
    Small (sm) devices (landscape phones, 576px and up)
    @media (min-width: 576px) { ... }
    
    Medium (md) devices (tablets, 768px and up)
    @media (min-width: 768px) { ... }
    
    Large (lg) devices (desktops, 992px and up)
    @media (min-width: 992px) { ... }
    
    Extra (xl) large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) { ... }
    
    =============*/

/*-- Bootstrap Mobile Gutter Fix --*/
.row,
.container-fluid {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

/*-- Fixed Background Image --*/
.fixed-background {
    position: relative;
    width: 100%;
    z-index: 1000 !important;
}
.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999 !important;
}
.fixed {
    z-index: -999 !important;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}